@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');

body {
    background-color: #000000;
    font-family: 'Girassol', cursive;
}

/* -------------- navigation ------------- */

#navbar {

    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;

}

#logo {
  width: 50%;
  float: left;
  letter-spacing: 3px;
  font-size: 280%;
  font-family: 'Girassol', cursive;
  color: #ffffff;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  background-color:rgba(0, 0, 0, 0.5);
  
}

#menu { 
  width: 50%;  
  right: 0;
  top: 0;
  font-size:110%;
  list-style-type: none;
  letter-spacing: 4px;
  font-family: 'Girassol', cursive;
  color: #ffffffff;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  

}

#logo, #menu {
  line-height: 75px;

}

#menu li {
  float: right;
  margin-right: 30px;
  
}

#logo a {
    text-decoration: none;
  color: #ffffff;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover{
  border-bottom: 1px solid #ffffff;
}

.active {
   border-bottom: 1px solid #ffffff;
}

/* ----------- Main Page -----------*/

#band-photo {
  height: 600px;
  width: 100%;
  background: url("https://i.imgur.com/8Wqfad4.jpg") no-repeat center center;
  background-size: cover;
  z-index: -1;
}

#band-photo-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 80px;
  
}

#band-cover-text {
  font-size: 50%;
  font-family: 'Girassol', cursive;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ffffff;
  height: 200px;
  padding-top: 40px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 30px;
  float: left;
  position: absolute;
}

/* ----------- About Page -----------*/

#band-logo-outer {
    height: 725px;
    width: 100%;
}

#band-logo {
    height: 400px;
    width: 100%;
    background-image: url("https://i.imgur.com/ANSTG7J.jpg") center center no-repeat;
    position: relative;
    
}

#band-info-1 {
    float: left;
    height: 325px;
    width: 65%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Girassol', cursive;
    border-top: 4px solid #ffffff;
    
    

}

#band-info-2 {
    float: right;
    height: 325px;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Girassol', cursive;
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
   
    
    

}

#band-info-1 > h2 {
    padding-top: 25px;
    padding-left: 25px;
    letter-spacing: 2px;
    text-align: center;
}

#band-info-1 > p {
    padding-left: 25px;
    letter-spacing: 2px;
    padding-right: 50px;
    text-align: center;
}

#band-info-2 > h2 {
    padding-top: 25px;
    letter-spacing: 2px;
    text-align: center
}

#band-info-2 > p {
    letter-spacing: 2px;
    text-align: center;
}

#band-info-2 > ul > li {
    padding-right: 25px;
    letter-spacing: 2px;
    text-align: center;
    list-style: none;
}


/*------------ Up Coming Shows ------------ */


#up-coming-shows {
    height: 725px;
    width: 100%;

}

#up-coming-shows-1 {
    float: left;
    height: 725px;
    width: 50%;
    background-image: url("https://i.imgur.com/YPnymL2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    font-family: 'Girassol', cursive;
    border-top: 4px solid #ffffff;
    margin: 0 auto;

}

#up-coming-shows-2 {
    float: right;
    height: 725px;
    width: 50%;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Girassol', cursive;
    margin: 0 auto;
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
   
    
}
    


#up-coming-shows-2 h1 {
    text-align: center;
    padding-top: 20px;

}

#up-coming-shows-2 > ul > li {
    padding-top: 50px;
    padding-right: 25px;
    letter-spacing: 2px;
    text-align: center;
    list-style: none;

}

/*------------ Contact ------------ */

#contact-page {
    height: 725px;
    width: 100%;

}

#contact-L {
    float: left;
    height: 725px;
    width: 50%;
    color: #ffffff;
    font-family: 'Girassol', cursive;
    border-top: 4px solid #ffffff;
    margin: 0 auto;
}

#contact-L > h1 {
    text-align: center;
    padding-top: 225px;
}

#contact-L > h3 {
    padding-left: 250px;
    padding-top: 50px;
    text-transform: uppercase;
    
}

#contact-R {
    float: right;
    height: 725px;
    width: 50%;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Girassol', cursive;
    margin: 0 auto;
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
   
}

#band-logo-image {
    height: 724px;
    width: 100%;

}