@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');

body {
    background-color: #000000;
}

/* -------------- navigation ------------- */

#logo {
  float: left;
  font-size: 280%;
  margin-left: 30px;
  font-family: 'Lobster Two', cursive;
  color: #ffffff;
}

#menu {
  font-size:110%;
  list-style-type: none;
  letter-spacing: 4px;
  color: #ffffffff;
  
}

#logo, #menu {
  line-height: 75px;

}

#menu li {
  float: right;
  margin-right: 30px;
  
}

#logo a {
    text-decoration: none;
  color: #ffffff;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover{
  border-bottom: 1px solid #ffffff;
}

.active {
   border-bottom: 1px solid #ffffff;
}

/* ----------- Main Page -----------*/

#band-photo {
  height: 600px;
  width: 100%;
  background: url("https://i.imgur.com/8Wqfad4.jpg") no-repeat center center;
  background-size: cover;
}

#band-photo-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
  
}

#band-cover-text {
  font-size: 50%;
  font-family: 'Girassol', cursive;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ffffff;
  height: 200px;
  padding-top: 40px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 30px;
  float: left;
  position: absolute;
}

/* ----------- About Page -----------*/

#band-logo-outer {
    height: 725px;
    width: 100%;
}

#band-logo {
    height: 400px;
    width: 100%;
    background-image: url("https://i.imgur.com/ANSTG7J.jpg") center center no-repeat;
    position: relative;
    
}

#band-info-1 {
    float: left;
    height: 325px;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Girassol', cursive;
    border: 4px;
    border-color: #ffffff;
    
    

}

#band-info-2 {
    float: right;
    height: 325px;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Girassol', cursive;
    border: 4px;
    border-color: #ffffff;
    

}

#band-info-1 > h2 {
    padding-left: 25px;
    letter-spacing: 2px
}

#band-info-1 > p {
    padding-left: 25px;
    letter-spacing: 2px;
    padding-right: 50px;
}

#band-info-2 > h2 {
    padding-right: 25px;
    letter-spacing: 2px
}

#band-info-2 > p {
    padding-right: 25px;
    letter-spacing: 2px
}

#up-coming-shows {
    height: 725px;
    width: 100%;
}

#up-coming-shows-1 {
    float: left;
    height: 725px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Girassol', cursive;
    border: 4px;
    border-color: #ffffff;
    
    

}

#up-coming-shows-2 {
    float: right;
    height: 725px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Girassol', cursive;
    border: 4px;
    border-color: #ffffff;
    

}